// _banner.scss
// ============
// File Type: partial
// Contents: Contains styles for banner including header, nav and landing

// -------------
// BANNER STYLES
// -------------

.banner {
	
	font-family: $sans_font;
	color: white;
	
	// -------------
	//  NAV STYLES
	// -------------

	.navbar-default {
		border: 0px transparent;
		border-radius: 0px;
		background-color: $nav_bg_color;
		
		font-size: 14px;

		vertical-align: middle;
		
		.navbar-brand {
			padding: 0px;
			margin: 5px;
			img {
				height: 200%;
			}
		}
		.navbar-collapse {
			border-color: fade($btn_bg_blue, 25%);
			background-color: rgba(0, 0, 0, .75); //fade($btn_bg_blue, 30%);
		}
		.navbar-toggle {
			background-color: transparent;
			border-color: fade($btn_bg_brown, 25%);
			.icon-bar {
				background-color: white;
			}
			&:hover,
			&:focus {
				background-color: $btn_bg_blue;
			}
		}
		.nav {
			li {
				margin: 0px 2px;
				a {
					border-radius: 0px;
					padding: 10px 10px;
					color: white;
					text-transform: uppercase;
				}
				&.button-container{
					display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
					display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
					display: -ms-flexbox;      /* TWEENER - IE 10 */
					display: -webkit-flex;     /* NEW - Chrome */
					display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
					flex-direction: row;
					justify-content: space-around;
					margin-top: 10px;
					max-height: 46px;

					button.btn {
						margin: 0 2px;
						font-family: $sans_font;
						font-size: 12px;
						text-transform: uppercase;
						-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
						-moz-box-flex: 1;         /* OLD - Firefox 19- */
						width: 47%;               /* For old syntax, otherwise collapses. */
						-webkit-flex: 1;          /* Chrome */
						-ms-flex: 1;              /* IE 10 */
						flex: 1; 
					}
				}
				
			}
		}
		.navbar-nav>li>a:hover,
		.navbar-nav>li>a:focus {
			color: white;
			background-color: darken($btn_bg_blue, 10%);
		}
		.navbar-nav {
			& > .active > a {
				border-radius: 0px;
				color: white;
				background-color: $btn_bg_blue;
			}
		}
	}

	@media(min-width:768px) {
		.navbar-default {
			padding: 25px 0;
			height: $nav_height * 3 / 4;
			-webkit-transition: padding 0.3s;
			-moz-transition: padding 0.3s;
			transition: padding 0.3s;
			border: none;
			.navbar-collapse {
				background-color: transparent;
			}
			.navbar-brand {
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
				padding: 0px;
				margin: -10px 0px 0px;
				img {
					height: 280%;
				}
			}
			.nav {
				li {
					&.button-container {
						margin:0;
						button.btn {
							width: 100%;
						}
					}
				}
			}
		}
		.navbar-default.navbar-shrink {
			background-color: $btn_bg_brown;
			padding: 10px 0;  
		}
	}

	@media (min-width: 1200px) {
		.navbar-default {
			padding: 25px 0;
			.navbar-brand {
				padding: 0px;
				margin: -10px 0px 0px -25px;
				img {
					height: auto;
				}
			}
			.nav {
				li {
					a {
						border-radius: 0px;
						padding: 15px 20px;
						color: white;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	// -------------
	// HEADER STYLES
	// -------------

	header {
		position: relative;
		top: 0;
		left: 0;

		min-width: 100%;
		min-height: 100%;
		overflow: hidden;

		// Header Background Video
		video {
			position: absolute;
			bottom: 0;
			left: 0;

			min-width: 100%;
			min-height: 100%;
			z-index: -50;
			background: url('../../images/vid_thumb.webp') no-repeat;
			background-size: cover;
			transition: 1s opacity;
		}
		img {
			position: absolute;
			min-width: 100%;
			min-height: 100%;

			top: -80px;
			left: 0;
			z-index: -50;
		}

		text-align: center;
		color: white;
		.intro-text {
			padding-top: 100px;
			padding-bottom: 100px;
			h1 {
				padding-bottom: 50px;
			}
		}
	}


	@media(min-width:768px) {
		header {
			height: $banner_height;
			.intro-text {
				margin-top: $nav-height;
				padding-top: 200px;
			}
		}
	}

	// ------------------------
	// INNER PAGE BANNER STYLES
	// ------------------------

	&.inner {
		height: $nav-height * 1.5;
		.navbar-default {
			background: rgba(0, 0, 0, .9);
		}
		header {
			height: $nav-height;
		}

		// =======================
		//   Inner Page Styles
		// Styles for > md screens
		// =======================

		@media(min-width:768px) {
			header {
				height: $nav-height;
			}
		}
	}
}

