// _footer.scss
// =============
// File Type: partial
// Contents: Contains styles for footer

footer {

	background-image: url("../../images/footer.png");
	background-size: 100% auto;
	padding: 30px 0;

	ul {
		float: left;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			padding: 0 7px;
		}
	}

	#footer-cpy {
		float: right;
		padding-top: 10px;
	}

}