// _inner.scss

#inner-page {
	padding: 50px 0px;
	#content-block {
		img {
			float:right;
			margin: 0px 0px 5px 10px;
		}
	}

	#inner-nav-block {
		background-color: rgba(0, 0, 0, .75);
		padding: 20px 20px;
	}
}