// _latestblog.scss
// =============
// File Type: partial
// Contents: Contains styles for latest blog section including posts & twitter block

#latest-blog-post {

	// -------------
	//  POST STYLES
	// -------------

	#post-block {
		margin-left: 0;
		padding-left: 0;
	
		#post {
			position: relative;
			margin: 10px 0;

			figure#post-figure {
				padding-left: 0;
				padding-right: 0;
				position: relative;
				img {
					width: 100%;
					overflow: hidden;
				}
				figcaption {
					.post-title {
						text-align: center;
					}
				}
			}

			@media (min-width: 430px) {
				figure {
					img {
						width: 100%;
					}
					figcaption {
						.post-title {

						}
					}
				}
			}

			@media(min-width:768px) {

			}
			

			#post-content {
				height: 100%;
				padding-bottom: 40px;
				small.date {
					font-weight:500;
					color: $gray-text;
				}
				p.post-text {
					padding-top: 30px;
					color: $gray-text;
				}

				@media(min-width:768px) {

				}
			}
			button {
				position: absolute;
				right: 0;
				bottom: 0;
			}

		}

	}


	// -------------
	// TWITTER STYLES
	// -------------
	
	#twitter-block {
		padding: 25px 30px;
		border: 1px #1b94bc solid;
		color: $gray-text;
		@include linear_verticle_gradient(#33ccff, #0ba9dd);

		.tweet {
			padding: 10px;
			margin: 20px 0;
			background: white;
			img {
				width: 35px;
				height: 35px;
				float: left;
    			margin: 0px 10px 5px 0;
			}
			.tweet-text {
				font-size: 14px;
			}
			.tweet-handle {
				text-decoration: underline;
			}
			.tweet-date {
				text-align: center;
				font-weight: 400;
			}
		}

	}

}