// _nearestcoffee.scss
// =============
// File Type: partial
// Contents: Contains styles for nearest coffee section

#nearest-coffee {
	@include linear_gradient(#5ea9df, #6cc0fc);

	.content > * {
		margin-bottom: 10px;
		small {
			margin-bottom: 30px;
		}
	}

	#map {
		min-height: 400px;
		width: 100%;
		height: 70vh;
	}
}