// _process.scss
// =============
// File Type: partial
// Contents: Contains styles for process section

#process {
	#process-figure {
		margin-top: 20px;
		text-align: center;

		@media(min-width:768px) {
			margin-bottom: 10px;
			&:nth-child(odd) {
				figure {
					img {
						padding-top: 50px;
					}
				}
			}
			&:nth-child(even) {
				figure {
					img {
						padding-bottom: 50px;
					}
				}
			}
		}
		
		figure {
			img {
				width: 90%;
				margin-bottom: 50px;
			}
			figcaption {
				padding: 10px 0;
			}
		}
		
	}
}
