// _vars.scss
// ==========
// File Type: partial
// Contents: Contains all variables and mixins

// import fonts:
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,300);

// General variables
$section_header_bg_dark: rgba(79, 29, 1, 0.10);
$section_header_bg_light: rgba(0, 0, 0, 0.03);
$section_bg_dark: rgba(94, 169, 223, 1.0);
$section_bg_dark_0: $section_bg_dark;
$section_bg_dark_1: rgba(6, 129, 218, 1.0);
$section_bg_light_0: rgba(208, 235, 255, 1.0);
$section_bg_light_1: rgba(230, 245, 255, 1.0);

$btn_light_beige: rgba(255, 221, 202, 1.00);
$btn_bg_blue: rgba(94, 169, 223, 1.0);
$btn_bg_brown: rgba(135, 61, 20, 1.0);

$sans_font: 'Fira Sans', sans-serif, helvetica;
$gray-text: rgba(107, 105, 105, 1.0);

// Banner Specific
$banner_height: 900px;

 // Nav Specific
 $nav_height: 140px;
 $nav_bg_color: rgba(0, 0, 0, 0.15);
 $nav_hover_item_color: rgba(94, 169, 223, 0.10);
 $nav_font_size: 16px;

// mixins
@mixin radial_center($inner_color, $outer_color) {
  /* default */
  background-color: $inner_color;

  background: -webkit-gradient(radial, center center, 0, center center, 460, from($inner_color), to($outer_color));
  background: -webkit-radial-gradient(circle, $inner_color, $outer_color);
  background: -moz-radial-gradient(circle, $inner_color, $outer_color);
  background: -ms-radial-gradient(circle, $inner_color, $outer_color);

}

@mixin linear_gradient ($color_left, $color_right) {
  /* default */
  background-color: $color_left;

  background: -webkit-gradient(linear, left top, right top, from($color_right), to($color_left));
  background: -webkit-linear-gradient(left, $color_left, $color_right);
  background: -moz-linear-gradient(left, $color_left, $color_right);
  background: -ms-linear-gradient(left, $color_left, $color_right);
  background: -o-linear-gradient(left, $color_left, $color_right);
}

@mixin linear_verticle_gradient ($color_top, $color_bottom) {
  /* default */
  background-color: $color_top;

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color_bottom), to($color_top));
  background: -webkit-linear-gradient(top, $color_top, $color_bottom);
  background: -moz-linear-gradient(top, $color_top, $color_bottom);
  background: -ms-linear-gradient(top, $color_top, $color_bottom);
  background: -o-linear-gradient(top, $color_top, $color_bottom);
}