// Import Variables
@import "vars";

// For Testing Purposes Only
.test {
	border: 1px red solid;
}

// General Styles
body {
	overflow-x: hidden;
	font-family: $sans_font;
}

h1, h2, h3, h4, h5, h6, p, small, figcaption {
	font-family: $sans_font;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

h1 {
	font-size: 33px;
}

h2 {
	font-size: 18px;
}

.center {
	text-align: center;
}


// General Content Styles

#content {
	@media(min-width:768px) {
		margin: 0 14.06%;
	}
	
}

section {
	padding: 0 0 30px;
	margin: 0;
	.section-header {
		padding: 10px; margin: -5px -30px 15px;
		text-align: center;
	}

	&:nth-child(even) {
		background-color: $section_bg_dark;
		@include radial_center($section_bg_dark_0, $section_bg_dark_1);
		color: white;
		.section-header {
			background-color: $section_header_bg_dark;
		}
	}

	&:nth-child(odd) {
		background-color: $section_bg_light_0;
		@include radial_center($section_bg_light_0, $section_bg_light_1);
		.section-header {
			background-color: $section_header_bg_light;
		}
	}

	&#app-links {
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
	}
}

.btn-brown {
	background-color: $btn_bg_brown;
	color: $btn_light_beige;
	border-color: transparent;
}

.btn-blue {
	background-color: $btn_bg_blue;
	color: white;
	border-color: transparent;
}

// Import Partials
@import "banner";
@import "process";
@import "latestblog";
@import "footer";
@import "nearestcoffee";
@import "inner";