@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,300);
.test {
  border: 1px red solid; }

body {
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif, helvetica; }

h1, h2, h3, h4, h5, h6, p, small, figcaption {
  font-family: "Fira Sans", sans-serif, helvetica; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase; }

h1 {
  font-size: 33px; }

h2 {
  font-size: 18px; }

.center {
  text-align: center; }

@media (min-width: 768px) {
  #content {
    margin: 0 14.06%; } }

section {
  padding: 0 0 30px;
  margin: 0; }
  section .section-header {
    padding: 10px;
    margin: -5px -30px 15px;
    text-align: center; }
  section:nth-child(even) {
    background-color: #5ea9df;
    /* default */
    background-color: #5ea9df;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#5ea9df), to(#0681da));
    background: -webkit-radial-gradient(circle, #5ea9df, #0681da);
    background: -moz-radial-gradient(circle, #5ea9df, #0681da);
    background: -ms-radial-gradient(circle, #5ea9df, #0681da);
    color: white; }
    section:nth-child(even) .section-header {
      background-color: rgba(79, 29, 1, 0.1); }
  section:nth-child(odd) {
    background-color: #d0ebff;
    /* default */
    background-color: #d0ebff;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#d0ebff), to(#e6f5ff));
    background: -webkit-radial-gradient(circle, #d0ebff, #e6f5ff);
    background: -moz-radial-gradient(circle, #d0ebff, #e6f5ff);
    background: -ms-radial-gradient(circle, #d0ebff, #e6f5ff); }
    section:nth-child(odd) .section-header {
      background-color: rgba(0, 0, 0, 0.03); }
  section#app-links {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; }

.btn-brown {
  background-color: #873d14;
  color: #ffddca;
  border-color: transparent; }

.btn-blue {
  background-color: #5ea9df;
  color: white;
  border-color: transparent; }

.banner {
  font-family: "Fira Sans", sans-serif, helvetica;
  color: white; }
  .banner .navbar-default {
    border: 0px transparent;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 14px;
    vertical-align: middle; }
    .banner .navbar-default .navbar-brand {
      padding: 0px;
      margin: 5px; }
      .banner .navbar-default .navbar-brand img {
        height: 200%; }
    .banner .navbar-default .navbar-collapse {
      border-color: fade(#5ea9df, 25%);
      background-color: rgba(0, 0, 0, 0.75); }
    .banner .navbar-default .navbar-toggle {
      background-color: transparent;
      border-color: fade(#873d14, 25%); }
      .banner .navbar-default .navbar-toggle .icon-bar {
        background-color: white; }
      .banner .navbar-default .navbar-toggle:hover, .banner .navbar-default .navbar-toggle:focus {
        background-color: #5ea9df; }
    .banner .navbar-default .nav li {
      margin: 0px 2px; }
      .banner .navbar-default .nav li a {
        border-radius: 0px;
        padding: 10px 10px;
        color: white;
        text-transform: uppercase; }
      .banner .navbar-default .nav li.button-container {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
        max-height: 46px; }
        .banner .navbar-default .nav li.button-container button.btn {
          margin: 0 2px;
          font-family: "Fira Sans", sans-serif, helvetica;
          font-size: 12px;
          text-transform: uppercase;
          -webkit-box-flex: 1;
          /* OLD - iOS 6-, Safari 3.1-6 */
          -moz-box-flex: 1;
          /* OLD - Firefox 19- */
          width: 47%;
          /* For old syntax, otherwise collapses. */
          -webkit-flex: 1;
          /* Chrome */
          -ms-flex: 1;
          /* IE 10 */
          flex: 1; }
    .banner .navbar-default .navbar-nav > li > a:hover,
    .banner .navbar-default .navbar-nav > li > a:focus {
      color: white;
      background-color: #3392d7; }
    .banner .navbar-default .navbar-nav > .active > a {
      border-radius: 0px;
      color: white;
      background-color: #5ea9df; }
  @media (min-width: 768px) {
    .banner .navbar-default {
      padding: 25px 0;
      height: 105px;
      -webkit-transition: padding 0.3s;
      -moz-transition: padding 0.3s;
      transition: padding 0.3s;
      border: none; }
      .banner .navbar-default .navbar-collapse {
        background-color: transparent; }
      .banner .navbar-default .navbar-brand {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        padding: 0px;
        margin: -10px 0px 0px; }
        .banner .navbar-default .navbar-brand img {
          height: 280%; }
      .banner .navbar-default .nav li.button-container {
        margin: 0; }
        .banner .navbar-default .nav li.button-container button.btn {
          width: 100%; }
    .banner .navbar-default.navbar-shrink {
      background-color: #873d14;
      padding: 10px 0; } }
  @media (min-width: 1200px) {
    .banner .navbar-default {
      padding: 25px 0; }
      .banner .navbar-default .navbar-brand {
        padding: 0px;
        margin: -10px 0px 0px -25px; }
        .banner .navbar-default .navbar-brand img {
          height: auto; }
      .banner .navbar-default .nav li a {
        border-radius: 0px;
        padding: 15px 20px;
        color: white;
        text-transform: uppercase; } }
  .banner header {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    text-align: center;
    color: white; }
    .banner header video {
      position: absolute;
      bottom: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -50;
      background: url("../../images/vid_thumb.webp") no-repeat;
      background-size: cover;
      transition: 1s opacity; }
    .banner header img {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      top: -80px;
      left: 0;
      z-index: -50; }
    .banner header .intro-text {
      padding-top: 100px;
      padding-bottom: 100px; }
      .banner header .intro-text h1 {
        padding-bottom: 50px; }
  @media (min-width: 768px) {
    .banner header {
      height: 900px; }
      .banner header .intro-text {
        margin-top: 140px;
        padding-top: 200px; } }
  .banner.inner {
    height: 210px; }
    .banner.inner .navbar-default {
      background: rgba(0, 0, 0, 0.9); }
    .banner.inner header {
      height: 140px; }
    @media (min-width: 768px) {
      .banner.inner header {
        height: 140px; } }

#process #process-figure {
  margin-top: 20px;
  text-align: center; }
  @media (min-width: 768px) {
    #process #process-figure {
      margin-bottom: 10px; }
      #process #process-figure:nth-child(odd) figure img {
        padding-top: 50px; }
      #process #process-figure:nth-child(even) figure img {
        padding-bottom: 50px; } }
  #process #process-figure figure img {
    width: 90%;
    margin-bottom: 50px; }
  #process #process-figure figure figcaption {
    padding: 10px 0; }

#latest-blog-post #post-block {
  margin-left: 0;
  padding-left: 0; }
  #latest-blog-post #post-block #post {
    position: relative;
    margin: 10px 0; }
    #latest-blog-post #post-block #post figure#post-figure {
      padding-left: 0;
      padding-right: 0;
      position: relative; }
      #latest-blog-post #post-block #post figure#post-figure img {
        width: 100%;
        overflow: hidden; }
      #latest-blog-post #post-block #post figure#post-figure figcaption .post-title {
        text-align: center; }
    @media (min-width: 430px) {
      #latest-blog-post #post-block #post figure img {
        width: 100%; } }
    #latest-blog-post #post-block #post #post-content {
      height: 100%;
      padding-bottom: 40px; }
      #latest-blog-post #post-block #post #post-content small.date {
        font-weight: 500;
        color: #6b6969; }
      #latest-blog-post #post-block #post #post-content p.post-text {
        padding-top: 30px;
        color: #6b6969; }
    #latest-blog-post #post-block #post button {
      position: absolute;
      right: 0;
      bottom: 0; }
#latest-blog-post #twitter-block {
  padding: 25px 30px;
  border: 1px #1b94bc solid;
  color: #6b6969;
  /* default */
  background-color: #33ccff;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0ba9dd), to(#33ccff));
  background: -webkit-linear-gradient(top, #33ccff, #0ba9dd);
  background: -moz-linear-gradient(top, #33ccff, #0ba9dd);
  background: -ms-linear-gradient(top, #33ccff, #0ba9dd);
  background: -o-linear-gradient(top, #33ccff, #0ba9dd); }
  #latest-blog-post #twitter-block .tweet {
    padding: 10px;
    margin: 20px 0;
    background: white; }
    #latest-blog-post #twitter-block .tweet img {
      width: 35px;
      height: 35px;
      float: left;
      margin: 0px 10px 5px 0; }
    #latest-blog-post #twitter-block .tweet .tweet-text {
      font-size: 14px; }
    #latest-blog-post #twitter-block .tweet .tweet-handle {
      text-decoration: underline; }
    #latest-blog-post #twitter-block .tweet .tweet-date {
      text-align: center;
      font-weight: 400; }

footer {
  background-image: url("../../images/footer.png");
  background-size: 100% auto;
  padding: 30px 0; }
  footer ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      display: inline;
      padding: 0 7px; }
  footer #footer-cpy {
    float: right;
    padding-top: 10px; }

#nearest-coffee {
  /* default */
  background-color: #5ea9df;
  background: -webkit-gradient(linear, left top, right top, from(#6cc0fc), to(#5ea9df));
  background: -webkit-linear-gradient(left, #5ea9df, #6cc0fc);
  background: -moz-linear-gradient(left, #5ea9df, #6cc0fc);
  background: -ms-linear-gradient(left, #5ea9df, #6cc0fc);
  background: -o-linear-gradient(left, #5ea9df, #6cc0fc); }
  #nearest-coffee .content > * {
    margin-bottom: 10px; }
    #nearest-coffee .content > * small {
      margin-bottom: 30px; }
  #nearest-coffee #map {
    min-height: 400px;
    width: 100%;
    height: 70vh; }

#inner-page {
  padding: 50px 0px; }
  #inner-page #content-block img {
    float: right;
    margin: 0px 0px 5px 10px; }
  #inner-page #inner-nav-block {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px 20px; }

/*# sourceMappingURL=custom.css.map */
